.unscrolledHeader {
    background: $templateColor;
    height: 150px;
    position: relative;
    .headerUpperSection {
        position: relative;
        padding: 0.5em;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
            height:30px;
        }
        .titleSection {
            font-size: 1.7rem;
            > a {
                text-decoration: none;
                color: black;
            }
            b {
                font-size: 2.2rem;
            }
        }
    }
    .headerLowerSection {
        background: $templateSecondColor;
        height: 60px;
        position:absolute;
        bottom: 0;
        width: 100%;
        color: $templateText;
        display: flex;
        justify-content: center;
        align-items:center ;
    }
}

.scrolledHeader {
    font-size: 1.1rem;
    background: $templateSecondColor;
    color: $templateText;
    height: 60px;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .titleSection {
        position: absolute;
        left: 5px;
        > a {
            text-decoration: none;
            color: $templateText;
        }
        b {
            font-size: 1.3rem;
        }
    }
    .icon {
        height:25px;
    }
}
.scrolledHeader .shoppingCart, .unscrolledHeader .shoppingCart {
    position: absolute;
    right: 5px;
}
.icon {
    aspect-ratio: 488/433.78;
}