
.unscrolledHeader {
    background: $templateColor;
    height: 150px;
    position: relative;
    .headerUpperSection {
        position: relative;
        padding: 0.5em;
        height: 90px;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 35px;
        align-items: center;
        .shoppingCart {
            justify-self: flex-end;
            margin-right: 15px;
            width: 30px;
            .icon {
                height:30px;
            }
            .cartIconDisplayer {
                color: $templateColor;
                background: $templateSecondColor;
            }
        }
        .titleSection {
            font-size: 1.7rem;
            justify-self: center;
            > a {
                text-decoration: none;
                color: black;
            }
            b {
                font-size: 2.2rem;
            }
        }
    }
    .headerLowerSection {
        background: $templateSecondColor;
        height: 60px;
        position:absolute;
        bottom: 0;
        width: 100%;
        color: $templateText;
        display: grid;
        grid-auto-flow:column;
        text-transform: uppercase;
        padding: 0.8em;
        text-align: center;
        align-items: center;
        gap: 10%;
        overflow: auto;
        white-space: nowrap;
    }
}

.scrolledHeader {
    z-index:9999;
    font-size: 1.1rem;
    background: $templateSecondColor;
    color: $templateText;
    height: 60px;
    position: sticky;
    top: 0;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    align-items: center;
    grid-template-columns: 78px 1fr 30px;
    .titleSection {
        justify-self: flex-start;
        > a {
            text-decoration: none;
            color: $templateText;
        }
        b {
            font-size: 1.3rem;
        }
    }
    .shoppingCart {
        margin-right: 15px;
        width: 30px;
        .icon {
            height:25px;
            justify-self: flex-end;
        }
        .cartIconDisplayer {
            color: $templateSecondColor;
            background: $templateText;
        }
    }

    .categories {
        display: grid;
        text-transform: uppercase;
        grid-auto-flow:column;
        overflow: auto;
        white-space: nowrap;
        margin: 0 0.7em;
        margin-right: 1em;
        text-align: center;
        a {
            display: inline-block;
        }
    }
}
.scrolledHeader .shoppingCart, .unscrolledHeader .shoppingCart {
    justify-self: flex-end;
}
.icon {
    aspect-ratio: 488/433.78;
}

.scrolledHeader .scrolledHeaderCategory {
    padding: 0.5em;
}

.cartIconContainer {
    position:relative;
}
.cartIconDisplayer {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    font-weight: bold;
}