.home {
    > div + div {
        margin-top: 5%;
    }
}
.writing {
    padding: 5em;
    display: grid;
    .para {
        font-size: 2.5rem;
        font-weight: bold;
        text-shadow: 1px 1px 2px $templateColor;
    }
    .leftAlignedText {
        justify-self: left;
    }
    .rightAlignedText {
        justify-self: right;
    }
}
@media (max-width: 500px) {
    .writing {
        padding: 3.5em !important;
    }
    .para {
        font-size: 1.8rem !important;
    }
}

.threePartSection {
    display: flex;
    flex-wrap: wrap;
    gap:50px;
    align-items: flex-start;
    justify-content: space-evenly;
    .section {
        display: flex;
        width: 350px;
        justify-content: center;
        flex-direction: column;
        .sectionImg {
                background-position: center;
                height: 250px;
                aspect-ratio: 1.5/1;
        }
        .sectionHeader {
            text-align: center;
            font-size: 1.4rem;
            font-weight: bold;
            color: $templateColor;
        }
        .sectionText {
            color: gray;

        }
    }
}

.testimonial {
    background: rgba(250, 133, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 3em;
    min-height: 300px;
    width: 70%;
    min-width: 400px;
    margin: 0 auto;
    border-radius: 15px;
    .testimonialText {
        span {
            padding: 0 5em;
            font-weight: 500;
            font-size: 1.1rem;
        }
        .rightQuotes {
            float:right;
            margin-top: 5px;
        }
    }
    .testimonialAuthor {
        position: absolute;
        bottom: 15px;
        right: 15px;
        font-weight: bolder;
    }
}