.itemsSection {
    .backButton {
        font-size: 1.8rem;
        svg {
            display: inline-block;
        }
    }
    .categoryTitle {
        font-size: 2rem;
        padding: 2rem;
    }
}