.itemsSection, .itemSection {
    padding: 1em;
    .backButton {
        font-size: 1.8rem;
        svg {
            display: inline-block;
        }
    }
    .categoryTitle {
        font-size: 2rem;
        padding: 2rem;
        text-decoration:underline;
    }
    .categoryItems {
        padding: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        .item {
            width: 250px;
            padding: 2em 1em;
            border: 2px solid $templateSecondColor;
            display: grid;
            position: relative;

            .itemImage {
                margin-top:-10px;
                img {
                    width: 250px;
                    height: 300px;
                }
            }
            .itemRating {
                .stars {
                    display: flex;
                    gap: 3px;
                    .star {
                        width: fit-content;
                        aspect-ratio: 1/1;
                        color: white;
                    }   
                    .emptyStar {
                        background: #bbbac0;
                    }
                }
            }
            .addToCart {
                position: absolute;
                padding: 0.5em;
                bottom: -12px;
                border-radius: 5px;
                background: $templateColor;
                display: flex;
                align-items: center;
                gap: 5px;
                left: 65px;
            }
        }
    }
}