@import '_variables.scss';

@import '_header.scss';
@import '_footer.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.content {
    display: grid;
    grid-template-rows: 150px 1fr 243px;
    min-height: 100vh;
}